<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" color="secondary"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <div class="logo">
        <ion-avatar><ion-img
            src="https://cdn.discordapp.com/attachments/745503961121030254/1120488464819953744/OIG.Azqod4W8OTwlmpaKwTUI.jpeg"></ion-img></ion-avatar>
        <div class="test">
          <h3 class="teste"><b>Cardápio</b></h3>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-segment (ionChange)="alterar($event)">
      <ion-segment-button value="Salgadas"><ion-icon name="pizza"></ion-icon>Salgadas</ion-segment-button>
      <ion-segment-button value="Doces"><ion-icon name="nutrition-outline"></ion-icon>Doces</ion-segment-button>
      <ion-segment-button value="Bebidas"><ion-icon name="beer-outline"></ion-icon>Bebidas</ion-segment-button>
    </ion-segment>
  </ion-card>
  <ion-list *ngIf="escolha=='Salgadas'" color="primary" class="lista">
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Calabresa</b></p>
        </div>
        <p>A tradicional calabresa italiana, com cebola e um toque de pimenta do reino!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121561888497606787/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza Calabresa')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Margueritta</b></p>
        </div>
        <p>A pizza mais tradicional de todas, tomate e folhas de manjericão!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121562216064360609/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza Margueritta')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>4 Queijos</b></p>
        </div>
        <p>As 4 camadas de queijos mais gostosas da casa!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121562316534722580/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza 4 Queijos')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Portuguesa</b></p>
        </div>
        <p>A pizza tradicional portuguesa!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121562521233535006/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza Portuguesa')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Frango com Requeijão</b></p>
        </div>
        <p>O requeijão mais cremoso que existe e aquele peito de frango suculento!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121562724485316678/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza Frango com Requeijão')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="escolha=='Doces'" class="lista">
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Pizza de brigadeiro</b></p>
        </div>
        <p>O brigadeiro mais delicioso da sua vida!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121592933641093180/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza de Brigadeiro')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Pizza de Ovomaltine!</b></p>
        </div>
        <p>O crocante Ovomaltine</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121592989093990521/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Pizza de Ovomaltine')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Churros de chocolate</b></p>
        </div>
        <p>Gostinho de churros de beira da praia sabor chocolate!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121593022996566137/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Churros de chocolate')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Churros de doce de leite</b></p>
        </div>
        <p>Gostinho de churros de beira da praia sabor doce de leite!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1121593057129803826/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>P</ion-select-option>
            <ion-select-option>M</ion-select-option>
            <ion-select-option>G</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Churros de doce de leite')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-list *ngIf="escolha=='Bebidas'" class="lista">
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Água</b></p>
        </div>
        <p>Com gelo ou sem?</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1122706929693757440/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>550ml</ion-select-option>
            <ion-select-option>2L</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Água')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Água com gás</b></p>
        </div>
        <p>Com limão expremido ou em rodela?</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1122707486932218017/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>550ml</ion-select-option>
            <ion-select-option>2L</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Água com gás')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Coca-Cola</b></p>
        </div>
        <p>Limão e gelo no copo?</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1122706871913042040/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>350ml</ion-select-option>
            <ion-select-option>600ml</ion-select-option>
            <ion-select-option>2L</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Coca-Cola')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Cola-Cola Zero</b></p>
        </div>
        <p>Não vai estragar sua dieta!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1122708376065949806/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>350ml</ion-select-option>
            <ion-select-option>600ml</ion-select-option>
            <ion-select-option>2L</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Coca-Cola Zero')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <div class="combo">
          <p><b>Cerveja Heineken</b></p>
        </div>
        <p>Geladinha!</p>
        <ion-img
          src="https://cdn.discordapp.com/attachments/1121561871758131280/1122708999217881138/image.png"></ion-img>
        <ion-item>
          <ion-label> Tamanho: </ion-label>
          <ion-select cancelText="Cancelar" okText="Confirmar">
            <ion-select-option>350ml</ion-select-option>
            <ion-select-option>1L</ion-select-option></ion-select>
        </ion-item>
        <ion-item>
          <ion-button (click)="adicionarAoCarrinho('Cerveja Heineken')">Adicionar ao Carrinho</ion-button>
          <ion-button (click)="exibirCarrinho()">Exibir Carrinho</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>