<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" color="secondary"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <div class="logo">
        <ion-avatar><ion-img
            src="https://cdn.discordapp.com/attachments/745503961121030254/1120488464819953744/OIG.Azqod4W8OTwlmpaKwTUI.jpeg"></ion-img></ion-avatar>
        <div class="test">
          <h3 class="teste"><b>Carrinho: </b></h3>
        </div>
      </div>
      <ion-content>
      </ion-content>
    </ion-toolbar>
  </ion-header>
  <ion-card></ion-card>
</ion-content>