<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button slot="start" color="secondary"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <div class="logo">
        <ion-avatar><ion-img
            src="https://cdn.discordapp.com/attachments/745503961121030254/1120488464819953744/OIG.Azqod4W8OTwlmpaKwTUI.jpeg"></ion-img></ion-avatar>
        <div class="test">
          <h3 class="teste"><b>Zanini Pizzaria</b></h3>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      <p><ion-icon name="bookmark-outline"></ion-icon>
        Descubra a Pizzaria Zanini: tradição italiana e sabor contemporâneo em cada pizza. Ingredientes frescos,
        qualidade excepcional. Venha saborear a paixão pela pizza.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <p><ion-icon name="accessibility-outline"></ion-icon><b>Chefe Linguini Zanini.</b></p>

    <ion-img src="https://cdn.discordapp.com/attachments/1121561871758131280/1122702431067836496/image.png"></ion-img>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <h2><ion-icon name="pizza-outline"></ion-icon><b>Promoções</b></h2>
    </ion-card-header>
    <ion-card-content>
      <div class="combo">
        <p><b>Combo Família:</b></p>
        <p class="valor">R$ 65,90</p>
      </div>
      <p>Peça uma pizza grande e ganhe uma pizza média de queijo grátis.</p>
    </ion-card-content>
    <ion-card-content>
      <div class="combo">
        <p><b>Rodízio:</b></p>
        <p class="valor">R$ 80,99</p>
      </div>
      <p>Rodízio de pizza todas as quartas e sextas das 20h até as 22h!</p>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item color="light">
        <ion-icon name="call-outline" color="tertiary"></ion-icon>
        <div>
          <p><b>(54)99921-4523</b></p>
        </div>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="pin-outline"></ion-icon>
        <div>
          <p><b>Av. Brasil, Passo Fundo</b></p>
        </div>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="logo-instagram"></ion-icon>
        <p><b>@ZaniniPizzaria</b></p>
      </ion-item>
      <ion-item color="light">
        <ion-icon name="time-outline"></ion-icon>
        <p><b>18:00 - 23:00</b></p>
      </ion-item>
    </ion-list></ion-card>

  <ion-footer></ion-footer>
</ion-content>