// ion-card {
//     background-color: #f1f1f3;
//     border-radius: 8px;
//     padding: 16px;
//   }
  
//   p {
//     color: #050404;
//     font-size: 18px;
//   }

// // ion-title{
// //     text-align: center;
// // }

// // ion-header{
// //   display: flex;
// // }

// ion-header{
//     background-color: #a70000;
// }

  
// ion-icon {
//     margin-right: 8px; /* Ajuste conforme necessário */
//     font-size: 20px;
// }

// ion-item{
//     color: #f1f1f2f3;
// }

// .logo{
//   display: flex;
//   margin-left: 12px;
// }

// .test{
//   padding-left: 7px;
// }

// .teste{
//   color: #f1f1f3;

// }

ion-card {
  background-color: #f1f1f3;
  border-radius: 8px;
  padding: 16px;
}

p {
  color: #050404;
  font-size: 18px;
}

ion-header {
  background-color: #a70000;
}

ion-icon {
  margin-right: 8px;
  font-size: 20px;
}

ion-item {
  color: #f1f1f2f3;
}

.logo {
  display: flex;
  margin-left: 12px;
}

.test {
  padding-left: 7px;
}

.teste {
  color: #f1f1f3;
}

h2{
  color: black;
}

.valor{
  color: rgb(40, 183, 40);
}

.combo{
  display:flex;
}